{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}
{{ $isParentList := eq (.Scratch.Get "scope") "list"  }}
{{ $featured := false }}
{{ if $isParentList }}
  {{ $featured = partial "featured-image.html" (dict "page" . "kind" "background" "defaultImage" .Site.Params.defaultBackgroundImage "ignorePageImages" true) }}
{{ else }}
  {{ $featured = partial "featured-image.html" (dict "page" . "kind" "background" "defaultImage" .Site.Params.defaultBackgroundImage) }}
{{ end }}

{{- with $featured -}}
    {{ if or $disableImageOptimization (strings.HasSuffix $featured ".svg")}}
        {{ with . }}
            <div class="w-full h-36 md:h-56 lg:h-72 single_hero_basic nozoom" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
    {{ else }}
        {{ with .Resize (print ($.Site.Params.backgroundImageWidth | default "1200") "x") }}
            <div class="w-full h-36 md:h-56 lg:h-72 single_hero_basic nozoom" style="background-image:url({{ .RelPermalink }});"></div>
        {{ end }}
    {{ end }}
{{- end -}}
