{{ if eq .Site.Params.languageCode "zh-TW" }}
<script src="https://giscus.app/client.js"
        data-repo="h30306/blog"
        data-repo-id="R_kgDOOWETjA"
        data-category="Announcements"
        data-category-id="DIC_kwDOOWETjM4Co7gm"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        crossorigin="anonymous"
        async>
</script>
{{ else }}
<script src="https://giscus.app/client.js"
        data-repo="h30306/blog"
        data-repo-id="R_kgDOOWETjA"
        data-category="Announcements"
        data-category-id="DIC_kwDOOWETjM4Co7gm"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}